#search-wrapper {
	height: 500px;
	background: url(../images/background2.jpg) no-repeat center center;
	background-size: 100%;
	overflow: hidden;
	
	$search-height: 60px;
	#search {
		width: 800px;
		margin: 300px auto 0;
		background: #fff;
		border-bottom: 4px solid #eee;
		height: $search-height;
		
		.current-location {
			height: $search-height;
			width: $search-height;
			display: block;
			text-indent: -900em;
			background: #3598dc url(../images/geolocation.png) no-repeat center center;
			background-size: 50%;
			float: left;
		}
		
		.submit {
			height: $search-height;
			width: $search-height;
			display: block;
			text-indent: -900em;
			float: right;
			background: #3598dc url(../images/search.png) no-repeat center center;
			background-size: 40%;
		}

		input {
			width: 500px;
			height: $search-height;
			float: left;
			border: 0;
			font-size: 24px;
			padding: 0 20px;
			
			
			&:focus {
				outline: none;
			}
		}
		
		&.searched {
			margin-top: 100px;
			transition-duration: 0.5s;
		}
	}
}