<div class="sidebar">
	{{#each this}}
		<div class="result" data-lat="{{this.venue.location.lat}}" data-lng="{{this.venue.location.lng}}">
			<h3>{{this.venue.name}}</h3>
			<ul>
				<li>Here Now: {{this.venue.hereNow.count}}</li>
			</ul>
		</div>
	{{/each}}
</div>
<div id="map"></div>